.pricing_main {
   background: #e1e1e1;
   padding: 3rem 1rem !important;
   box-sizing: border-box;
   width: 100%;
   margin-top: 64px;
}

.price_main_inner_wrapper {
   width: 90%;
   margin-inline: auto;
}

.pricing_main_wrapper {}

.pricing_main .services_header h2::after {
   left: 150px;
}

.Bg {
   background: rgb(1, 1, 158);
}

@media (min-width: 600px) and (max-width:900px) {
   .pricing_main_wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: start;
   }
}

@media (min-width: 901px) and (max-width:1200px) {
   .pricing_main_wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: start;
   }
}

@media (min-width: 1201px) {
   .pricing_main_wrapper {
      display: flex;
      align-items: flex-start;

   }
}