@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.brand {
   width: 100%;
   margin: 2em 0;
   text-align: center;
   color: #000000;
   font-family: "Space Grotesk", Sans-serif;

}

.brand h1 {
   margin: 0 0 30px 0;
   font-size: 32px;
}

@media (min-width:600px) {
   .brand h1 {

      font-size: 62px;
   }
}

.brand_inner_wrapper {
   width: 90%;
   max-width: 900px;
   margin: 0 auto;
   position: relative;
   height: 100px;
   overflow: hidden;
}

.item {
   width: 150px;
   height: 100px;
   object-fit: cover;
   position: absolute;
   left: max(calc(200px * 9), 100%);
   animation: slide_left 30s linear infinite;
}

.item1 {
   animation-delay: calc(30s / 9 * (9 - 1) * -1);
}

.item2 {
   animation-delay: calc(30s / 9 * (9 - 2) * -1);
}

.item3 {
   animation-delay: calc(30s / 9 * (9 - 3)* -1);
}

.item4 {
   animation-delay: calc(30s / 9 * (9 - 4)* -1);
}

.item5 {
   animation-delay: calc(30s / 9 * (9 - 5)* -1);
}

.item6 {
   animation-delay: calc(30s / 9 * (9 - 6)* -1);
}

.item7 {
   animation-delay: calc(30s / 9 * (9 - 7)* -1);
}

.item8 {
   animation-delay: calc(30s / 9 * (9 - 8)* -1);
}

.item9 {
   animation-delay: calc(30s / 9 * (9 - 9)* -1);
}

@keyframes slide_left {
   to {
      left: -150px;
   }
}