@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.teamsHero {
   margin-top: 3.1em;
   height: 70vh;
   width: 100%;
   border: 2px solid black;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(-125deg, rgba(2, 6, 110, 0.713), rgba(2, 6, 110, 0.708)),
      url(/images/teams-Hero-Bg.jpg);
   color: #fff;
   font-family: "Space Grotesk", Sans-serif;
}

.teamsHero_inner_wrapper {
   text-align: center;
   width: 90%;
   padding: 0;
}

.teamsHero h1 {
   font-size: 2rem;
   padding: 0;
}

@media (min-width: 600px) {

   .teamsHero h1 {
      font-size: 3rem;
   }
}