.price_item {
   width: fit-content;
   padding: 20px 0 35px 0;
   background: #fff;
   margin: 1em 1em 3em 0.5em;

   border-radius: 10px;
   box-shadow: 0 0 12px rgb(72, 70, 70);
}

.category {
   text-align: center;
}

.category_name {
   width: 98%;
   font-family: "Montserrat", sans-serif;

   padding: 14px 0 7px;
   margin: 0 20px 20px 0;
   font-size: 2rem;
   font-weight: 700;
   clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 0% 0%);


   color: #f8f2f2;

}

.category_price {
   color: #000;
   font-size: 40px;
   font-weight: 600;
   line-height: 40px;
   margin-bottom: 0.5em;


}

.buletten_wrapper {
   padding: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50px;
   margin: 0 0.5em;

}

.buletten_wrapper img {
   width: 20px;
   height: 18px;
   object-fit: cover;
}

.category_list {
   list-style: none;
   padding-left: 0;
   padding: 25px 15px;
   margin: 0 0 30px;
   border: 1px solid #e7e7e7;
   border-left: none;
   border-right: none;

}

.category_list li {
   margin: 1em 0;
   display: flex;
   align-items: center;

}

.category_list p {
   color: #777;
   font-size: 1.1rem;
   font-weight: 400;
   line-height: 25px;
   letter-spacing: 0.5px;
   text-transform: capitalize;
   margin: 0 0 12px;

}

/* buttons */
.category_btn {
   display: flex;
   flex-direction: column;
   gap: 1em;
   text-align: center;
   align-items: center;
}

.btn {
   font-size: 22px;
   font-weight: 500;
   color: #fff;
   text-transform: uppercase;
   width: 200px;
   padding: 6px 6px 5px;
   border-radius: 10px;
   cursor: pointer;
}

/*  
clip-path: polygon(x1 y1, x2 y2, x3 y3, ...);

<section className='price_item'>
         <div className="category">
            <div className="category_name">BRONZE</div>
            <div className="category_price">N180,000</div>
         </div>
         <ul className="category_list">
            {infos.map(el => (
               <li key={el.id}>
                  <div className="buletten_wrapper">
                     <img src="/images/buletten.webp" alt="" />
                  </div>
                  <p>{el.info}</p>
               </li>
            ))}
         </ul>
         <div className="category">
            <button className="btn1">ORDER</button>
            <button className="btn2">ORDER NOW</button>
         </div>
      </section> */