header {
   width: 100%;
   background: white;
   margin: 0;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1001;
   box-shadow: 0 3px 12px rgba(0, 0, 0, 0.382);
   transition: background 0.5s ease;
}

.transparent {
   background: rgba(255, 255, 255, 0.41);
   backdrop-filter: blur(10px);

}

.header-inner-container {
   display: flex;
   align-items: center;
   position: relative;
   justify-content: space-between;
   color: darkblue;
   width: 90%;
   margin-inline: auto;
}

.header-inner-container ul {
   display: flex;
}

.header-inner-container ul li {
   cursor: pointer;
}

.logo {
   width: 120px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.logo img {
   width: 100%;
}

.nav-links {
   display: flex;
   justify-content: end;
}

.nav-links .links-one {
   display: none;
}

.menu img {
   width: 30px;
   cursor: pointer;
}

.menu-links {
   position: absolute;
   top: 0;
   left: -5.5%;
   right: -5.5%;
   height: 100vh;
   color: black;
   background: #000154d6;
   display: none;
   z-index: 2000;
}

.active {
   display: block;
}

.menu-nav-inner-container {
   font-family: Arial, Helvetica, sans-serif;
   width: 100%;
   height: 100%;
   border: 1px solid black;
   position: relative;

}

.menu-nav-inner-container .links-two {
   color: #01036f;
   flex-direction: column;
   list-style: none;
   margin-top: 3em;
   padding: 0;
   gap: 1em;
   width: 80%;
   height: 80vh;
   font-size: 1.2rem;
   background: white;
   padding: 1em 0 0 1em;
   margin-inline: auto;
   font-weight: 500;
   border-radius: 15px;
   box-shadow: 0 0 4px rgb(0, 0, 0);
}

.menu-nav-inner-container .links-two li {
   transition: color 0.15s linear;
}

.menu-nav-inner-container .links-two li:hover {
   color: rgb(232, 153, 5);

}

.link {
   text-decoration: none;
}

.menu-links img {
   width: 30px;
   position: absolute;
   top: 1em;
   right: 2em;
}

.menu-links img:hover {
   cursor: pointer;
}


@media(min-width:1000px) {
   .logo {
      width: 170px;
      height: 40px;
   }



   .nav-links .links-one {
      display: flex;
      gap: 1.2em;
      /* justify-content: end; */
      list-style: none;

   }

   .nav-links .links-one li {
      font-size: 1.2rem;
      position: relative;
      transition: color .15s ease;
   }

   .nav-links .links-one li:hover {
      color: rgb(228, 179, 0);
      ;
   }

   .transparent .links-one li {
      color: rgba(255, 166, 0, 0.644);

   }

   .transparent .links-one li:hover {
      color: darkblue;

   }

   .nav-links .links-one .link {
      text-decoration: none;
   }

   .nav-links .links-one .link li.switch {
      color: darkblue;
   }

   .transparent.nav-links .links-one .link li.switch {
      color: white;
   }

   .nav-links .links-one .link li.switch:hover {
      color: rgb(228, 179, 0);
   }

   .transparent.nav-links .links-one .link li.switch {
      color: darkblue;
   }

   .link {

      color: darkblue;
   }


   .nav-links .links-one .link li.switch::before {
      position: absolute;
      background-color: rgb(228, 179, 0);
      content: '';
      height: 0.1em;
      left: 0;
      right: 50%;
   }

   .transparent .nav-links .links-one .link li.switch::before {

      background-color: darkblue;

   }

   .nav-links .links-one li::before {
      position: absolute;
      background-color: rgb(228, 179, 0);
      content: '';
      height: 0.1em;
      left: 0;
      right: 100%;
      bottom: 0;
      transition: right .3s ease;
   }

   .transparent .nav-links .links-one li::before {
      background-color: darkblue;
   }

   .nav-links .links-one li:hover::before {
      right: 50%;
   }



   .menu {
      display: none;

   }

   .menu-links {
      display: none;
   }
}