.pricing_main {
   background: #e1e1e1;
   padding: 3rem 1rem !important;
   box-sizing: border-box;
   width: 100%;
}

.price_main_inner_wrapper {
   width: 90%;
   margin-inline: auto;
}

.pricing_main_wrapper {}

.pricing_main .services_header h2::after {
   left: 150px;
}

.Bg {
   background: linear-gradient(to right, rgb(1, 1, 158), rgb(186, 186, 252) 20px, rgb(135, 135, 255) 13px, rgb(15, 15, 255) 38px, rgb(1, 1, 158) 40%, rgb(1, 1, 158) 60%);
}

@media (min-width: 700px) and (max-width:1200px) {
   .pricing_main_wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
   }
}

@media (min-width: 1201px) {
   .pricing_main_wrapper {
      display: flex;
      align-items: flex-start;

   }
}